{% for post in posts %} 
    <div class="col-lg-6 col-md-12 p-3 ">
        <div class="card ">      
            <img src="/public/images/uploads/{{ post.picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">{{ post.title }}</h4> 
                <a href="/post/{{ post.id }}" class="btn btn-success">go</a>
                <p>{{ post.text }}</p> 
                <p>{{ post.date_creation }}</p>
            </div>
        </div>
    </div> 
{% endfor %}
