{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 p-3">
            <div class="card mb-2">
                <img src="/public/images/uploads/{{ post.picture }}" class="card-img-top img-post p-4" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">{{ post.title }}</h4>
                    <p class="card-text text-justify">{{ post.text }}</p>
                    <p class="card-text mt-1 text-end">{{ post.dateCreation | date("d/m/Y") }}</p>                        
                    <p class="card-text mt-1 text-end">{{ post.username }}</p>        
                    <p class="card-text text-center"><a href="/post/{{ post.id }}/create-comment" class="btn btn-success">Laisser un commentaire</a></p>
                    <p class="card-text text-center"><a href="/post/{{ post.id }}/all-comment" class="btn btn-success">Voir tout les commentaires</a></p>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}