{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 p-3">
            <div class="card mb-2">
                <img src="/public/images/uploads/{{ post.picture }}" class="card-img-top img-post" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">{{ post.title }}</h4>
                    <p class="card-text text-justify">{{ post.text }}</p>
                    <p class="card-text mt-1 text-end">{{ post.dateCreation | date("d/m/Y") }}</p>
                    <p class="card-text mt-1 text-end">{{ post.username }}</p>        
                    {% if post.dateUpdate is not empty %}
                    <p class="card-text mt-1 text-end">modifié le : {{ post.dateUpdate | date("d/m/Y") }}</p> 
                    {% endif %}
                </div>
            </div> 
        </div>
    </div>
    {% if session.id is not empty %}
    <h3 class="text-justify m-4">Laissez nous votre avis : </h3>                        
        <form class="" method="post" action="/post/{{ post.id }}/create-comment">
            {% if error.errorChamps is not empty %}
                {{ error.errorChamps}} 
            {% endif %}
            <div class="p-2">
                {%if session.token is not empty%}       
                    <input class="form-control" type="hidden" name="token" value={{session.token}}>
                {%endif%}
                <div class="form-group">
                    <textarea class="form-control" name="text"></textarea>
                </div>
            </div>   
            <div class="d-flex flex-column justify-content-center">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>
        </form>
    {% else %}
        <p class="card-text text-center">Pour laisser un commentaire vous devez vous connecter</p> 
    {% endif %}
    {% for comment in comments %} 
        <div class="row">
            <div class="col-sm-12 p-3">     
                <div class="card mb-2 ">      
                    <div class="card-body"> 
                        <p class="card-text text-justify">{{ comment.text }}</p> 
                        <p class="card-text text-end">{{ comment.dateCreation | date("d/m/Y") }}</p>                        
                        <p class="card-text text-end">Auteur : {{ comment.username }}</p>
                        {% if session.id == comment.author %}
                            <p class="card-text text-center"><a href="/post/{{ comment.id }}/all-comment/delete" class="btn btn-dark">Supprimer</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div> 
    {% endfor %}
</div>
{% endblock %}