{% extends 'layout.html.twig' %}

{% block title %}Votre compte{% endblock %}
{% block content %}
    <div class="container">
        {% block subtitle %}<h1 class="text-center">Votre compte</h1>{% endblock %}
        <div class="col-4">
            <a href="/post" class="btn btn-secondary">Nouveau post</a>
        </div>
        <div class="row">
            {% for post in posts %} 
                <div class="col-xl-4 col-md-6 col-sm-12 p-3">
                    <div class="card mb-2 ">      
                        <img src="/public/images/uploads/{{ post.picture }}" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ post.title }}</h4> 
                            <p class="card-text text-justify">{{ post.text }}</p> 
                            <p class="card-text text-end">{{ post.dateCreation | date("d/m/Y") }}</p>                        
                            <p class="card-text text-end">{{ post.username }}</p>
                            <p class="card-text text-center"><a href="/post/{{ post.id }}" class="btn btn-dark">Découvrir</a></p>
                            <p class="card-text text-center"><a href="/post/{{ post.id }}/edit" class="btn btn-dark">Modifier</a></p>
                            <p class="card-text text-center"><a href="/post/{{ post.id }}/delete" class="btn btn-dark">Supprimer</a></p>
                        </div>
                    </div>
                </div> 
            {% endfor %}  
        </div> 
    </div>
{% endblock %}
