<form class="" method="post">
    <p class="mt-3 text-center">Pour vous connecter veuillez entrer vos informations</p>
    <div class="p-2">
        {% if error.errorEmail is not empty %}
        <div class="alert alert-warning" role="alert">
            {{ error.errorEmail }}
        </div>
        {% endif %} 
        {% if error.errorEmpty is not empty %}
        <div class="alert alert-warning" role="alert">
            {{ error.errorEmpty }}
        </div>
        {% endif %}
        {% if error.errorMdp is not empty %}
        <div class="alert alert-warning" role="alert">
            {{ error.errorMdp }}
        </div>
        {% endif %} 
        {% if error.errorToken is not empty %}
        <div class="alert alert-warning" role="alert">
            {{ error.errorToken }}
        </div>
        {% endif %} 
        <div class="form-group">
        {%if session.token is not empty%}       
            <input class="form-control" type="hidden" name="token" value={{session.token}}>
        {%endif%}
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control mt-3" type="password" name="password" placeholder="Mot de passe">
        </div>
    </div>   
    <div class="form-group"> 
        <div class="text-center">
            <button type="submit" class="btn btn-dark mt-3"><a href="/connexion"></a>Connexion</button>
            <p class="mt-3">Pas encore de compte ?</p>
            <a href="/inscription" type="submit" class="btn btn-dark">Inscription </a>
        </div>
    </div>
</form>
